.detailContent{
  display: flex;
align-items: center;
margin: 50px;
}
.detailContent img{
  height: 80vh;
}

@media only screen and (max-width: 767px){
  .detailContent{
    display: flex;
  flex-direction: column-reverse;
  margin: 50px;
  }
}