.product{
 margin: auto;
 position: relative;
}

.product img.productImg{
  margin-bottom: auto;
  margin-top: auto;
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}
.icon{
  position: absolute;
  margin-bottom: auto;
  margin-top: auto;
  max-height: 25px;
  right: 30px;
  top: 30px;
  background-color: white;
  cursor: pointer;
}
