.productList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.productList:hover{
cursor: pointer;
}


@media only screen and (max-width: 767px) { 
  .productList{
    grid-template-columns: 1fr;
  }
 }
  
@media only screen and (min-width: 768px) and (max-width: 1023px) { 
  .productList{
    grid-template-columns: 1fr 1fr;
  }
 }
 
@media only screen and (min-width: 1024px) {
  .productList{
    grid-template-columns: 1fr 1fr 1fr;
  }
}