.productList{
  display: grid;
  grid-template-columns: auto auto auto;
}


@media (min-width: 480px) { 
  .productList{
    grid-template-columns: auto;
  }
 }

@media (min-width: 768px) { 
  .productList{
    grid-template-columns: auto auto;
  }
 }

@media (min-width: 1200px) {
  .productList{
    grid-template-columns: auto auto auto;
  }
}
